@import '../../styles/constants.scss';

.dropzone {
    border: 2px dashed $border-color;
    color: #ddd;
    border-radius: 2px;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
