$dark-1: #181818;
$dark-2: #101010; // super dark
$dark-3: #2d2d2d;

$text-color-1: #fff;
$text-color-2: #ddd;

$border-color: #2f2f2f;

$border-hover: hsl(0, 0%, 71%);
$primary: #3298dc;
$red: #f14668;

$hover-opacity: 0.8;