@import '../../styles/constants.scss';

.app {
    display: flex;
    height: 100%;
}

.app main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

canvas {
    border: 1px solid $border-color;
}